<h1>about</h1>
<p>My name is Justin LeFurjah. This is my home on the web, currently under development.
<br>
<br>
<p>Contact: lefurjah-at-gmail</p>
<p><a href="http://www.twitter.com/lefurjah">Twitter</a>: @lefurjah</p>
<p><a href="https://github.com/interestinall">Git repo</a> of this site and more:  </p>
